.div1{
    height: 400px;
    width: 100%;
    background-image: url("../images/img1.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div1 p{
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 20px;
}

.div1 h1{
    font-size: 30px;
    color: white;
    font-weight: bold;
    

}

@media(max-width:768px){
   .div1 h1{
    margin-bottom: -100px;
   
   }
}